# Profile Configuration (development | staging | production)
EXPO_PUBLIC_PROFILE=development

# API Configuration
EXPO_PUBLIC_API_BASE_URL=https://reconocimiento-estrabismo.onrender.com
EXPO_PUBLIC_IMAGE_PROCESSING_API_URL=https://fastapi-tppn.onrender.com

# Environment Configuration
NODE_ENV=development
